.inputWrapper {
	background: #f2f2f2;

	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 6rem;
	justify-content: center;
	width: 50%;
	margin: 1rem 0;
}

.inputWrapper label {
	color: black;
	position: absolute;
	visibility: hidden;
}

.input {
	display: flex;
	align-items: center;
}

.input svg {
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.46);
	padding: 0.4rem 0 0.4rem 1rem;
	width: 2rem;
	text-align: center;
}

.input input {
	background-color: transparent;
	border: none;
	outline: none;
	color: black;
	font-size: 1rem;
	padding: 0.8rem 0.6rem;
	width: 100%;
}
