.input svg {
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.46);
	padding: 0.4rem 0 0.4rem 1rem;
	width: 2rem;
	text-align: center;
}

.inputStyle {
	@apply rounded-md bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-full focus:outline-none focus:ring-red-500 caret-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-500 dark:placeholder-zinc-400 dark:text-white;
	padding-left: 2.5rem;
}

.labelStyle {
	@apply block pb-2 pl-3 text-sm font-medium text-zinc-900 dark:text-white;
}

.iconStyle {
	@apply dark:text-white text-black;
	position: absolute;
	left: 1rem; /* Adjust this value to position the icon as needed */
	top: 75%;
	transform: translateY(-75%);
}

.inputWrapper {
	@apply w-full;
	position: relative;
}

.inputIconWrapper {
	position: relative;
}
