/* Common Button Styles */
.button {
  @apply rounded-full py-2 px-5 cursor-pointer transition-all ease-in duration-200;
  @apply flex align-middle justify-items-center outline-none ring-2 ring-transparent;
}

.button * {
  @apply text-white font-bold;
}

.button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* Primary (Black) Button Styles */
.button.primary {
  @apply bg-black;
}

.button.primary:not(:disabled) {
  @apply hover:bg-zinc-900 active:bg-zinc-700 focus:ring-zinc-700;
}

/* Secondary (Red) Button Styles */
.button.secondary {
  @apply bg-red-600;
}

.button.secondary:not(:disabled) {
  @apply hover:bg-red-500 active:bg-red-400 focus:ring-red-400;
}

.inlineIcon {
    @apply pr-2;
}

.inlineIcon svg {
  @apply w-[1.1rem] h-[1.1rem] pb-[0.1rem];
}

.spinner {
  height: 20px;
  width: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  margin-top: 2px;
  animation: clockwise 0.7s linear infinite;
  flex: none;
  @apply ml-3;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in;
  }
  25% {
    transform: rotate(90deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(270deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-out;
  }
}
