.content {

  @apply w-full flex gap-8 border max-w-[90%] max-h-[86%] overflow-x-hidden whitespace-nowrap;

}

@media screen and (max-width: 1200px) and (max-height: 1400px) {
  .content {
    overflow-y: scroll;
  }

}

@media screen and (max-height: 1275px) {
  .content {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
}