.layout {
    height: 100%; 
    width: 100%; 
    overflow: scroll;
}

.contentGrid {
    @apply grid gap-2 gap-y-4 sm:gap-y-2 grid-cols-1 mt-24 mb-12 px-8;
    @apply sm:gap-y-2 md:grid-cols-2 md:gap-4 2xl:grid-cols-3 2xl:gap-8
}
  