@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-900: rgb(12, 13, 16);
  --gray-800: rgb(22, 23, 26);
  --gray-700: rgb(32, 33, 36);
  --gray-600: rgb(42, 43, 46);
  --gray-500: rgb(52, 53, 56);
  --gray-400: rgb(62, 63, 66);
  --gray-300: rgb(72, 73, 76);
  --gray-200: rgb(82, 83, 86);
  --gray-100: rgb(92, 93, 96);
  --background-color-light: rgb(244 244 245); /* Match bg-zinc-100 */
  --background-color-dark: #09090b; /* Match bg-zinc-950 */
  --background-color: var(--background-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
  }
}

* {
  transition: all 0.2s ease;
}

html {
  width: 100vw;
  height: 100vh;
}

html,
body {
  font-family: var(--font-barlow);
  font-weight: 500;
  overflow: hidden;
  color-scheme: auto;
  @apply text-base;
  @apply text-zinc-900 dark:text-white;
  @apply bg-zinc-100 dark:bg-zinc-950
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}