:root {
  --gray-900: rgb(12, 13, 16);
  --gray-800: rgb(22, 23, 26);
  --gray-700: rgb(32, 33, 36);
  --gray-600: rgb(42, 43, 46);
  --gray-500: rgb(52, 53, 56);
  --gray-400: rgb(62, 63, 66);
  --gray-300: rgb(72, 73, 76);
  --gray-200: rgb(82, 83, 86);
  --gray-100: rgb(92, 93, 96);
  --background-color-light: #d2d2d2;
  --background-color-dark: rgb(32, 33, 36);
  --background-color: var(--background-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
  }
}

* {
  transition: all 0.2s ease;
}

html,
body {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  color-scheme: dark;
  background: var(--background-color-dark);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}