
.dashboard {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
  
  .dashboard div.title {
    display: flex;
    align-items: center;
  }
    
    
.Border {
    width: 10%;
    height: 100%; 
  }
    
.collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
  }
.content {
    width: 100%;
    padding: 0 18px;
    overflow: hidden;
  }


.collapsible:hover {
    background-color: red;
  }

.open {
    display: flex;
    flex-direction: column;
  }


.clickable-content {
    width: 87%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
  }
.clickable-content:hover {
    background-color: blue;
  }


.Border h1{
    font-size: 80%;
    font-weight: bold;
    color: white;
    text-align: center;
  }



    