  .login {
    border: solid 1px white;
    width: 100%; 
    min-width: fit-content;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .header {
    width: 40%;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login h1 {
    text-align: center;
    font-size: 200%%;
    font-weight: bold;
    margin-bottom: 1rem;
    
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 2%;
  }
  
  
  .login button:nth-child(2) {
    margin-top: 2rem;
    padding: .8rem 1.6rem;
  }
  
  .login form button {
    width: 5%;
    font-size: 100%;
    margin: 2%;
  }



 
