.wrapper {
  @apply w-full border-zinc-200 bg-white dark:bg-zinc-800 border dark:border-zinc-700 rounded-2xl p-4 dark:text-white;
  background: var(--card-bg-color-glass);
  @apply bg-blend-overlay backdrop-blur-md bg-[var(--card-bg-color-glass)];
}

.subWrapper {
  @apply h-full;
}

.eventsHeader {
  @apply text-4xl font-bold px-8 pl-2 z-[999];
}

.active {
  transform: scale(100%);
}

@media screen and (max-width: 850px) {
  .eventsHeader {
    text-align: center;
  }
}

@media screen and (max-height: 950px) {
  .wrapper {
    @apply m-4 ml-0
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    @apply m-4 ml-0
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    border: none;
    background: transparent;
    backdrop-filter: none;
    max-width: 100%;
  }

  .subWrapper {
    @apply rounded-2xl border border-zinc-200 dark:border-zinc-700 p-4;
    background: var(--card-bg-color-glass);
    background-blend-mode: overlay;
    backdrop-filter: blur(10px);

  }
}