.info { 
  @apply flex flex-col overflow-hidden relative min-h-max;
}

.infoTop { 
  display: flex; 
}

.infoLeft { 
  @apply  min-w-max flex;
}


@media screen and (max-width: 1100px) {

  .info {
    flex-direction: column;
  }

}


@media screen and (max-width: 1300px) and (min-height: 850px) {
  .infoTop {
    flex-direction: column !important;
  }

}

@media screen and (max-width:1300px) and (max-height: 850px) {
  .infoTop > .data {
    display: none; 
    padding: 0;
    width: 0;
  }

  .infoLeft {
    width: 100%;
  }
}