.avatar {
  @apply w-16 h-16 rounded-full min-w-[4rem] min-h-[4rem];
}

.listMember {

  @apply hover:scale-105 border p-4 flex justify-between transition-all hover:cursor-pointer hover:shadow-xl;
  @apply items-center rounded-xl mb-4 bg-zinc-100 border-zinc-200 dark:bg-zinc-800 dark:border-zinc-700;
}

.party {
  @apply h-max w-full text-white bg-white border-zinc-200  dark:bg-zinc-700 border dark:border-zinc-600 rounded-2xl relative p-2 pt-2 mt-2;
}

.party_member {
  @apply flex items-center bg-white dark:bg-zinc-800 shadow-md rounded-xl relative p-1 mt-2 w-full min-w-max;
  transition: all 0.1s ease-in-out;
}

.members {
  @apply h-min;
}


.party_member:hover {
  transform: scale(105%);
  box-shadow: 0 0 8px -2px black;
}

.party_member svg:hover {
  opacity: .8;
}

.party svg {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.party>svg:hover {
  transform: rotate(90deg);

}


@media screen and (max-height:950px) and (min-width:1200px) {
  .members {
    display: flex !important;
    gap: 1rem;
    justify-content: space-around;
  }

  .party_member {
    @apply w-min px-4; 
  }
}

@media screen and (max-width:1200px) {
  .members {
    display: flex !important;
    gap: 1rem;
    justify-content: space-around;
  }

  .party_member {
    @apply w-min px-4; 
  }
}


@media screen and (min-height:950px) and (max-width:700px) {
  .party {
    margin-bottom: 0;
  }



  .party_member:hover {
    cursor: pointer;
  }


}

@media screen and (max-width: 600px),
screen and (min-width:901px) and (max-width:1200px) {

  .party_member {
    justify-content: center;
  }

  .party_member *:not(:first-child) {
    display: none;
    width: 0;
  }

  .party_member {
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {



  .party_member {
    cursor: pointer;
  }
}