.party_member {
  transition: all 0.1s ease-in-out;
}


.party_member:hover {
  transform: scale(105%);
  box-shadow: 0 0 8px -2px black;
}

.party_member svg {
  cursor: pointer;
}

.party_member svg:hover {
  opacity: .8;
}

.party svg {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.party svg:hover {
  transform: rotate(90deg);

}

.wrapper {
  display: flex;
}

@media screen and (max-height:950px) and (min-width:1200px){
  .members {
    display: flex !important;
    gap: 1rem;
    justify-content: space-around;
  }

  .party_member {
    width: calc(min-content + 4rem);
  }
}

@media screen and (max-width:1200px) {
  .members {
    display: flex !important;
    gap: 1rem;
    justify-content: space-around;
  }

  .party_member {
    width: calc(min-content + 4rem);
  }
}


@media screen and (min-height:950px) and (max-width:700px) {
  .party {
    margin-bottom: 0;
  }

  .party_member {
    width: min-content;
  }

  .party_member:hover {
    cursor: pointer;
  }

  .wrapper {
    display: none;
    width: 0;
  }
}

@media screen and (min-width:901px) and (max-width:1200px){
  .wrapper {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: 600px){
  .wrapper {
    display: none;
    width: 0;
  }
}