.banner {
    @apply absolute top-0 right-0 left-0 h-[200px] z-0 flex flex-col;
    background: url('/images/banner_cropped.png') no-repeat;
    background-size: cover;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, var(--bg-color) 100%);
}